hostname {{ router.hostname }}

{% for iface in router.interfaces %}
interface {{ iface.name }}
 description {{ iface.description }}
 ip address {{ iface.ip }} {{ iface.mask }}
 no shutdown
!
{% endfor %}
